EVENTSTREAM_BOOTSTRAP_SERVER=your-eventhub-namespace.servicebus.windows.net:9093
EVENTSTREAM_TOPIC=your-topic-name
EVENTSTREAM_CONNECTION_STRING=Endpoint=sb://your-eventhub-namespace.servicebus.windows.net/;SharedAccessKeyName=your-key-name;SharedAccessKey=your-key;EntityPath=your-topic-name